.cards {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cards-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #26005a;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1rem;
}
.cards-heading span {
  display: block;
}
.cards-heading-first {
  font-size: 1.2rem;
}
.cards-heading-second {
  font-size: 1rem;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 80rem;
  width: 100%;
  height: 100%;
}

/* Contenedor de la pregunta y botones */
.cards-buttoncontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  justify-content: center;
  background-color: #26005a;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 70rem;
  gap: 1rem;
  grid-template-areas:
    "cards cards cards cards"
    "prev prev next next";
  place-items: center;
}

/* Posicionamiento [ Botón Anterior ] [  Pregunta  ] [ Botón Siguiente ] */
.cards-content {
  grid-area: cards;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.prev-button-container {
  grid-area: prev;
  display: flex;
  justify-content: center;
  width: 100%;
}

.next-button-container {
  grid-area: next;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Ajustes en pantallas grandes */
@media (min-width: 768px) {
  .cards-heading {
    margin-bottom: 1.2rem;
    padding-top: 2rem;
  }
  .cards-heading-first {
    font-size: 1.7rem;
  }
  .cards-heading-second {
    font-size: 1.5rem;
  }

  .cards-container {
    padding: 2rem;
  }
  .cards-buttoncontent {
    grid-template-columns: 0.2fr 2.7fr 0.2fr;
    grid-template-areas:
      "prev cards next"
      "prev cards next";
    height: 100%;
  }

  .cards-content {
    /* grid-area: cards; */
    max-width: 55rem;
  }

  .prev-button-container {
    grid-area: prev;
  }

  .next-button-container {
    grid-area: next;
  }
}
