.home {
  height: 100vh; /* Aumentar la altura total de la sección */
  margin: 0 auto;
}

.home-content {
  height: 100%; /* Aumentar la altura del contenedor al 100% de la sección */
  width: 100%;
  display: flex;
  align-items: center; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 0 1rem; /* px-2 */
}

.home-heading {
  font-size: 2.25rem; /* text-4xl */
  font-weight: 800; /* font-extrabold */
  color: var(--colorButtonActive-light); /* text-gray-900 */
  letter-spacing: -0.02em;
}

.home-block {
  display: block; /* block */
}

.home-highlight {
  display: inline; /* xl:inline */
  color: var(--colorBand-light);
}

.home-description {
  font-size: 1rem; /* text-base */
  color: var(--colorInputFont-light); /* text-gray-500 */
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem; /* text-lg */
  color: var(--colorButtonFont-light);
  background-color: var(--colorInputBG-light); /* bg-indigo-600 */
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.home-btn-primary:hover {
  background-color: var(--colorButtonHover-light); /* hover:bg-indigo-700 */
}

.home-btn-secondary {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  color: #6b7280; /* text-gray-500 */
  background-color: #f3f4f6; /* bg-gray-100 */
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.home-btn-secondary:hover {
  background-color: #e5e7eb; /* hover:bg-gray-200 */
  color: #4b5563; /* hover:text-gray-600 */
}

.home-image {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.home-image img {
  width: 100%;
  height: auto;
}

