.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  background-color: #0c66e1;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}
.card-button:hover {
  background-color: #fff;
  color: #0a2f62;
  transform: scale(1.05);
}

.card-button svg {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .card-button {
    font-size: 1rem;
    width: 100%;
  }
}
